<form action="/teams" method="post">
  Team Name: <input type="text" name="team[name]">
  Team Motto: <input type="text" name="team[motto]">
  Member Name: <input type="text" id="member1_name" name="team[member][][name]"
  <input type="submit">
</form>
